/*转圈-正向*/
@keyframes circle
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
/*转圈-逆向*/
@keyframes circleR
  0%
    transform rotate(360deg)
  100%
    transform rotate(0deg)
/*渐显*/
@keyframes fadein
  0%
    opacity: 0;
  100%
    opacity: 1;
/*移入*/
@keyframes showtitleanima
  0%
    margin-left: 1rem;
  100%
    margin-left: 0
/*渐渐移入*/
@keyframes leftinto
  0%
    margin-left: 1rem;
    opacity: 0.5;
  100%
    margin-left: 0
    opacity: 1;

/*下方为uploadImage*/
@keyframes imgtop
  0%
    top 4rem
  100%
    top 1.33333333rem;

@keyframes topinto
  0%
    margin-top: 1.33333333rem;
    opacity: 0.8;
  100%
    margin-top: 3.33333333rem;
    opacity: 1;

@keyframes showin
  0%
    background: #D8D8D8;
  100%
    background: #1B1B1B;

@keyframes topinfo
  0%
    margin-top: 1.33333333rem;
    border-radius: 0;
  100%
    margin-top: 1.86666667rem;
    border-radius: 100%;

@keyframes into
  0%
    opacity: 0;
  50%
    opacity: 0;
  100%
    opacity: 1;

@keyframes imgdon
  0%
    width: 6.13333333rem;
    height: 6.13333333rem;
    left: 0;
  100%
    width: 4.66666667rem;
    height: 4.66666667rem;
    left: 0.73333333rem;

@keyframes waiatshow
  0%
    opacity: 0
  6%
    opacity: 1
  94%
    margin-top: 0
    opacity: 1
  100%
    margin-top: 500;
    opacity: 0

@keyframes shopinfo
  0%
    left: 6.66666667rem;
    opacity: 1;
  10%
    left: 0.73333333rem;
    opacity: 1;
  80%
    left: 0.73333333rem;
    opacity: 1;
  100%
    left: -6.66666667rem;
    opacity: 0;

/*
*为report
*/
/*线断变化-1*/
@keyframes widthshow1
  0%
    width: 0;
  100%
    width: 4rem;

/*线断变化-2*/
@keyframes widthshow2
  0%
    width: 0;
  100%
    width: 3.33333333rem

/*波段线-竖*/
@keyframes myfirst
  0%
    height 0
  100%
    height 100%

/*波段线-横*/
@keyframes myfirs
  0%
    width 0
  100%
    width 100%
