@font-face
  font-family: 'webfont';
  src: url('../font/webfont.eot'); /* IE9*/
  src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../font/webfont.woff') format('woff'), /* chrome、firefox */
          url('../font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
          url('../font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
.after:after
  clear both
  width 0
  display block
  content ''
div,a,img
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select:none;
button,input,textarea
  outline none
.beyond
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
[v-cloak]
  display none
.dis
  display none
