@import 'transition.styl';
.after:after
  clear both
  width 0
  display block
  content ''
div,a,img
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select:none;
button,input,textarea
  outline none
.beyond
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
[v-cloak]
  display none
.dis
  display none
.app-container
  position: relative;
  height: 100%;
  width: 100%;
