<!DOCTYPE html>
<html>
<head>
  <title>my index</title>
  <link rel='stylesheet' href='../css/cssreset.css' />
</head>
<body>
<h1>Hello World</h1>
<p>Welcome to</p>
<p><a href="./login">登陆</a></p>
<p><a href="./refer">查询</a></p>
</body>
</html>

