<!DOCTYPE html>
<html>
<head>
  <title>my login</title>
  <link rel='stylesheet' href='../css/cssreset.css' />
</head>
<body>
<h1>Hello World</h1>
<p>Welcome to</p>
<br>
<hr>
添加：
<form action="inster" method="post">
  <p>
    <span>name:</span>
    <br>
    <input id="name" name="name" type="text">
  </p>
  <p>
    <span>password:</span>
    <br>
    <input id="password" name="password" type="password">
  </p>
  <p><input type="submit" value="submit"></p>
</form>
<br>
<hr>
更新：
<form action="update" method="post">
  <p>
    <span>name:</span>
    <br>
    <input id="name" name="name" type="text">
  </p>
  <p>
    <span>password:</span>
    <br>
    <input id="password" name="password" type="password">
  </p>
  <p><input type="submit" value="submit"></p>
</form>
<br>
<hr>
删除：
<form action="delete" method="post">
  <p>
    <span>name:</span>
    <br>
    <input id="name" name="name" type="text">
  </p>
  <p>
    <span>password:</span>
    <br>
    <input id="password" name="password" type="password">
  </p>
  <p><input type="submit" value="submit"></p>
</form>
</body>
</html>