<!DOCTYPE html>
<html>
<head>
  <title>my ucenter</title>
  <link rel='stylesheet' href='../css/cssreset.css' />
</head>
<body>
<h1>Hello World</h1>

<form action="refer" method="post">
  <input type="text" name="name">
  <button type="submit">提交</button>
</form>
<%= ob %>
</body>
</html>